@page
@model Mission09_mgoltra.Pages.PurchaseCompletedModel
@{
}

@* this is the order confirmation page *@

<div class="text-center">
    <h2>Order Confirmed! Thank you.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>