@{
}

@model BooksViewModel
@*cshtml for the index page*@

@*Made the header italics to look all fancy*@
<h1 class="fst-italic">The Bookstore</h1>



@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
}

@*buttons for navigating through the pages*@

<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn" page-classes-enabled="true"
      page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
    &nbsp;
</div>

@*Footer is fixed to the bottom relative of the page*@

<footer class="position-relative fixed-bottom" >Bookstore</footer>